body{
	background-image: url("../images/BGCenter100.jpg") ;
	background-repeat: no-repeat;
	background-position: 41% -15%;
}
.menu{
	float: left;		
}
.menu img{
	height: 104px;
	width: 106px;
}
.logo{
	height: 104px;
	float: left;
}
.logo img{
	float: left;
	width: 197px;
	height: 61px;
	bottom: 0px;
}
.contenedor{
	padding-top: 10%;
}

.col-der li{
	list-style: none;
}

.col-der{
	padding-left: 2%;
	float: left;
}
.col-der li{
	text-align: left;
}
.col-contenido{
	padding-top: 2%;
	padding-left: 2%;
	float: left;
}
.contenido{
	float: left;
}
.titulo{
	font: caption;
	font-weight: bold; 
	color: #C13742;
}